<div class="footer1 container-fluid">
  <div class="row justify-content-md-center footer2">
    <div class="col">
      Sign up to our Newsletter and you 'll get weekly offers sent to your
      email.
    </div>
    <div class="col-5">
      <input
        class="form-control submit-email"
        type="email"
        placeholder="Your Email Address"
      />
    </div>
    <div class="col">
      <button class="btn-submit" mat-flat-button color="warn">SUBMIT</button>
    </div>
  </div>
</div>
<div class="row justify-content-md-center footer3">
  <div class="col">
    <p>COMPANY</p>
    <div>About us</div>
    <div>Careers</div>
    <div>Delivery</div>
    <div>Locate Store</div>
    <div>News</div>
  </div>
  <div class="col">
    <p>HELP</p>
    <div>Returns</div>
    <div>Shipping Infor</div>
    <div>FAQs</div>
    <div>Size Quicks</div>
    <div>Track Orders</div>
    <div>Contact Us</div>
  </div>
  <div class="col">
    <p>LEGAL</p>
    <div>Privacy Policy</div>
    <div>Terms & Conditions</div>
    <div>Cookies & Security</div>
  </div>
  <div class="col">
    <p>ADDRESS</p>
    <div>80 Xuan Phuong</div>
    <div>Nam Tu Liem, Ha Noi</div>
    <div>0982515705</div>
    <div>ducnq2398@gmail.com</div>
  </div>
  <div class="col">
    <p>FOLLOW US</p>
    <div>
      <fa-icon [icon]="faCoffe"></fa-icon>
      Facebook
    </div>
    <div>
      <fa-icon [icon]="faInbox"></fa-icon>
      Instagram
    </div>
    <div>
      <fa-icon [icon]="faAddress"></fa-icon>
      Twitter
    </div>
  </div>
</div>
